<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= product.name %></title>
</head>
<body>
    <h1><%= product.name %></h1>
    <p>Price: <%= product.price %></p>
    <p><%= product.description %></p>
    <!-- <a href="/cart">Agregar al carrito</a><br/><br/> -->
    <form action="/cart/add" method="post">
        <input type="hidden" name="itemId" value="<%= product.id %>">
        <input type="submit" value="Agregar al carrito">
    </form>

    
    <a href="/products">Regresar al catálogo principal</a> 
</body>
</html>